@font-face {
    font-family: my-font;
    src: url(fonts/BrandonGrotesque-Black.otf);
}
* {
    font-family: my-font;
    box-sizing: border-box;
}

a:active, a:visited, a:link {
    text-decoration: none;
    color: rgb(67, 182, 200);
}
 a:hover {
    color: white;
} 
/* INDEX INDEX INDEX INDEX INDEX INDEX  */

nav {
    opacity: 0.9;
    width: 100%;
    padding: 0.5em;
}
.nav-options:hover {
    border-bottom: 3px solid white;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
/* .brand {
    max-height: 10px;
    max-width: 10%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
} */
.nav-logo {
    height: 30px;
    width: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
.col-1 { width: 1em; }
.col-2 { width: 1em; }
.col-3 { width: 1em; }
.col-4 { width: 1em; }
.col-5 { width: 1em; }
.col-6 { width: 1em; }
.col-7 { width: 1em; }

[class*="col-"] {
    float: left;
}

#first {
    border-right: 3px solid rgb(67, 182, 200);
}
p {
    margin-top: 0.9em;
    font-size: 1.25em;
}

.brand-footer {
    background-color: rgb(244, 244, 244);
    color: rgb(209, 210, 212);
    /* position: relative;
    bottom: 0px;
    left: -10px;
    clear: left;
    width: 100%;
    height:10em;
    margin: 0em;
    padding: 0em; */

     /* width: 71.45em;  
     margin-left: -10.5em;  */
}
.copyright {
    float: right;
}

.product-hero {
    width: 100%;
}

.product-thumbnail {
    width: 250px;
}

/* WELCOME WELCOME WELCOME WELCOME WELCOME */
.welcome {
    /* position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; */
    height: 100vh;
    background-image: url(images/covalence-store-home.jpg);
    background-position: center center;
    background-size: cover;
}
.welcome img {
    width: 100%;
    height: auto;
    position: relative;
    /* top: -9em; */
}
.hello-text {
    float: left;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}
#shop-btn:focus {
    outline: 0;
}
/* APPAREL APPAREL APPAREL APPAREL APPAREL APPAREL */

/* MISC MISC MISC MISC MISC MISC MISC MISC MISC */

/* SINGLE SINGLE SINGLE SINGLE SINGLE SINGLE SINGLE */

/* CONTACT CONTACT CONTACT CONTACT CONTACT CONTACT */

#contact {
    height: 15em;
    width: 100%;
    background-image: url("images/covalence-store-misc-hero.jpg");
}

/* CHECKOUT CHECKOUT CHECKOUT CHECKOUT CHECKOUT CHECKOUT */