<div class="jumbotron" id="contact-img">
</div>
<div class="container-fluid">
<div class="header">
</div>
<form class="my-form text-center">
    <div class="form-group">
    <h2 class="description">Need More Info?</h2>
    <br>
    <h4 class="description">Send us your <span class="currency-b">information</span>, and one of our experts will get back in touch with you.</h4><br>
        <input class="form-control ask" type="text" ng-model="name" placeholder="Name">
        <input class="form-control ask" type="email" ng-model="email" placeholder="Email Address">
        <textarea class="form-control ask" type="text" ng-model="message" placeholder="Message" rows="4"></textarea>
    </div>
    <input class="btn" id="contact-btn" type="submit"  ng-click="contact()" value="Send">
</form>
</div>
