<div class="jumbotron" id="contact">
</div>
<div class="header">
    <h1></h1>
</div>
<form class="my-form" ng-submit="save()">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="post.title" placeholder="Email Address">
    </div>
    <div class="form-group">
    <select class="form-control" ng-model="post.categoryid">
        <option value="">Select Category</option>
        <option ng-repeat="c in categories" value="{{ c.id }}">{{ c.name }}</option>
    </select>
    </div>
    <div class="form-group">
    <select class="form-control" ng-model="post.userid">
        <option value="">Select User</option>
        <option ng-repeat="u in users" value="{{ u.id }}">{{ u.firstname }} {{ u.lastname }}</option>
    </select>
    </div>
    <div class="form-group">
    <textarea class="form-control" ng-model="post.content"></textarea>
    </div>
    <input class="btn btn-success" type="submit" value="Save">
</form>