<div class="container">
    <div class="col-md-6">
        <img src="{{ product.imageURL }}" alt="">
    </div>
    <div class="col-md-6">
        <h2>{{ product.price | currency }}</h2>
        <h1>{{ product.title }}</h1>
        <p>{{ product.description }}</p>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mi et lorem hendrerit dictum nec non enim.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mi et lorem hendrerit dictum nec non enim.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in mi et lorem hendrerit dictum nec non enim.</li>
        </ul>
    </div>
   <button ng-click="addItem()" class="btn btn-info btn-md"><span id="btn-text"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>Add To Cart</span></button>
</div>